<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        Consulta
        Vacinação
        (caso selecionar a opção "consulta" ou "vacinação", aparecer as opções de veterinários e em seguida, suas agendas)
            Provavelmente vamos precisar de JavaScript tbm.
        Banho e tosa
        Observações (Ex: o Chicó fica agressivo quando vão cortar as unhas dele, a Paçoca precisa de focinheira, etc.)
        Caso deseje, fale conosco pelo WhatsApp (link que redirecion pro zap web)
    </pre>
</body>
</html>