<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        Informações:
            Se é castrado/a
            Se possui microchip
            Número do microchip (se aplicável)

        Histórico de Saúde: (sim ou não / Possui bla blab lab la?)
            Doenças anteriores
            Histórico de vacinação (com datas, tipos de vacinas e fabricantes)
            Histórico de vermifugação (com datas e tipos de medicamentos)
            Histórico de tratamentos veterinários
            Histórico de cirurgias
            Outras informações relevantes sobre a saúde do animal

        Informações sobre o Ambiente e Manejo: (fazer aquele tipo de só marcar várias opções)
            Tipo de ambiente (casa, apartamento, fazenda, etc.)
            Se o animal vive dentro ou fora de casa
            Se o animal tem acesso a áreas externas
            Outras informações relevantes sobre o manejo do animal
    </pre>
</body>
</html>