<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        Esqueleto de campos do formulário:
        Nome completo
        Documento (CPF)
        Data de Nascimento
        Endereço
        Celular
        Email
        Senha
        Foto
        <i>Ao clicar para enviar, o usuário é redirecionado para o Cadastro de Animais</i>
    </pre>
</body>
</html>